<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"><i class="far fa-user-circle my-big"></i></div>
            <div class="form-box">
              <!--  <form action="" method="">-->
                  <%= f.email_field :email, :placeholder => "email" %>
                  <%= f.password_field :password, :placeholder => "password" %>
                  <!--  <input name="email" type="text" placeholder="email">
                    <input type="password" placeholder="password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>-->
                <%= f.submit :'Log in', :class =>"btn btn-info btn-block login" %>
            </div>
        </div>

</div>
<% end %>
