<h1>お気に入り一覧</h1>

<p><%= notice %></p>
<div class="container">
<% @favorites.each do |favorite| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <p class="card-text"><%= favorite.content %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <% unless favorite.photo.blank? %>
            <%= image_tag favorite.photo ,:class => "card-img-bottom img-responsive", :alt =>"Card image cap" %>
          <% else %>
            <%= image_tag('noimage.png',:class => "card-img-bottom img-responsive", :alt =>"Card image cap") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
